.header-container {
    background-color: #ee1515;
    color: white;
    padding: 1rem 0;
    text-align: center;
  }
  
  .header-container h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }
  