/* PokemonTable.css */

.container {
  text-align: center;
  margin-top: 1rem;
}

.table {
  width: 100%;
  border: 2px solid #ee1515;
}

.table th,
.table td {
  border: 2px solid #ee1515;
  padding: 0.5rem;
  vertical-align: middle;
}

.table th {
  background-color: #ee1515;
  color: white;
}

.pokemon-image {
  max-width: 200px; /* Ajusta el tamaño máximo de la imagen según sea necesario */
}

/* Si tienes otros estilos específicos, puedes agregarlos aquí */

