.pokeform-container {
  text-align: center;
  margin: 1rem 0;
}

.pokeform-input {
  padding: 0.5rem;
  width: 250px;
  margin-right: 1rem;
  border-radius: 4px;
  border: 2px solid #ee1515;
}

.pokeform-button {
  padding: 0.5rem 1rem;
  background-color: #ee1515;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pokeform-button:hover {
  background-color: #c41212;
}
