/* SearchPokemon.css */
.search-container {
    text-align: center;
    margin: 20px;
  }
  
  .search-input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  